<% if @customer.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %>というerror</li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="col-xs-3">
  <h2>Customer info</h2>
  <%= form_for(@customer) do |f| %>

    <div class="form-group has-icon">
      <%= f.label :email, "email",  class: 'control-label'%>
      <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail" %>
      <span class="fa fa-customer form-control-icon" aria-hidden="true"></span>
    </div>
    
    <%= f.submit "update customer", class:"btn btn-default" %>
  <% end %>
</div>

<%= link_to "退会する", customers_delete_verification_path %>