<ul class="navbar-nav nav justify-content-end mr-sm-2">
  <li class="nav-item">
    <%= link_to "商品一覧", admin_items_path, class: "nav-link fas fa-cookie" %>
  </li>
  <li class="nav-item">
    <%= link_to "会員一覧", admin_customers_path, class: "nav-link fas fa-cookie" %>
  </li>
  <li class="nav-item">
    <%= link_to "注文履歴一覧", admin_orders_path, class: "nav-link fas fas-folder-open" %>
  </li>
  <li class="nav-item">
    <%= link_to "商品新規登録", new_admin_item_path, class: "nav-link fas" %>
  </li>
  <li class="nav-item">
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link fas fa-sign-out-alt" %>
  </li>
</ul>